@page
@model Group_Project_FamilyTree.Pages.EventPage.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].OrganizeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].ServicePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].LocationPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Family)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Event) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Family.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
